#top{
    background-color: #004c8c;
    padding: 12px;
    color: rgb(220,220,220);
    border-radius: 10px;
    font-size: 40px;
}
body{
    background-color: #0277bd;
    padding-bottom: 200px;

}
::-webkit-input-placeholder{
    color: rgb(220,220,220);
    font-size: 16px;
}
    #myinput {
    background-color: #62727b;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 25%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    color: rgb(220,220,220);
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid black; /* Add a grey border */
    border-radius: 10px;
    margin-bottom: 12px; /* Add some space below the input */
    }

    #memberlist {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    }

    #memberlist li {
    border: 1px solid rgb(40,40,40); /* Add a border to all links */
    border-radius: 5px;
    width: 25%;
    background-color: #62727b; /* Grey background color */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 27px; /* Increase the font-size */
    color: rgb(220,220,220); /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */


    }

    #memberlist li a:hover:not(.header) {
    background-color: black;
    }

    #deleteButton {
        position: absolute;
        right: 20px;
        top: 0px;
        background-image: url("http://www.pngmart.com/files/3/Left-Arrow-PNG-Photos.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100px;
        height: 100px;
    }
.dropbtn{
    border: 1px solid black;
    background-color: #62727b; /* Grey background color */
    color: rgb(220,220,220);
    padding: 12px 20px 12px 20px; /* Add some padding */  
    text-align: center;  
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 16px; /* Increase font-size */

}
.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
 
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#deleteBar{
    font-size: 30px;
    background-color: #7f0000;
    position: fixed;
    left: 300px;
    padding-left: 275px;
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
#deletebtn2{
    color: rgb(220,220,220);
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #7f0000;
    font-size: 27px;
    border: none;
     background-image: url("http://www.pngmart.com/files/3/Delete-Button-PNG-Image.png");
        background-size: 170%;
        background-position: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: block;
        position: relative;
        left: 260px;
        top: 0px;

}
input[type="checkbox"]{
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border: 1px solid black;

}
