#img{
	max-height: 300px;
	max-width: 300px;
	position: relative;
	left: 30px;
	top: 30px;
	border-radius: 25px;
	border: 2px solid black;
}
#img2{
	max-height: 300px;
	max-width: 300px;
	position: relative;
	left: 30px;
	top: 30px;
}
#fileBut{
	position: relative;
	left: 30px;
	border-radius: 10px;
	border: 1px solid white;
	
}
#uplBut{
	position: relative;
	left: -30px;
}
#choosePhoto{
	position: absolute;
	top: 260px;
	left: 30px;
}
#chooseFile{
	position: absolute;
	top: 300px;
	left: 30px;
}

#FirstNames{
	font-size: 50px;
	color: black;
}
#LastName{
	font-size: 100px;
	line-height: 70%;
	color: black;

}
#fam{
	text-align: center;
	position: absolute;
	left:400px;
	top: 50px;
}
body{
	padding-bottom: 50px;
	padding-left: 10px;
	background-color: white;
	width:200ex;
}
h2{
	color: black;
}
#GI{
	font-size: 20px;
	color: black;

}
table{
	border-collapse: collapse;

}
table, td, th{
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	color: black;
	background-color: white;
	font-size: 12px;
}
