#printBut{
	position: fixed;
	right: 10px;
	top:10px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
#button{
	background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/1235-200.png);
	background-size: 100%;
	width: 30px;
	height: 30px;
	background-position: center;
	background-color: Transparent;
	overflow: hidden;
	outline: none;
	border: none;
	cursor: pointer;
}
#img{
	max-height: 300px;
	max-width: 300px;
	position: relative;
	left: 30px;
	top: 30px;
	border-radius: 25px;
	border: 2px solid black;
}
#img1{
	max-height: 300px;
	max-width: 300px;
	position: relative;
	left: 30px;
	top: 30px;
	border-radius: 25px;
	border: 2px solid black;
}
hidePict{
	display: none;
}
.rotate {
	-ms-transform: rotate(90deg);
	 -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
 }
 
 .normal {
	-ms-transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
 }
.moveDown{
	position: relative;
	top: 10px;
}
#moveUp{
	position: absolute;
	bottom: 100px;
}
#rotBut{
	position: relative;
	bottom: -30px;
	left: 30px;
}
#back{
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: white;
	border: 1px solid black;
	background-color: #121111;
	border-radius: 2px;
	padding: 5px;
}
#fileBut{
	position: relative;
	left: 30px;
	border-radius: 10px;
	border: 1px solid white;
	
}
#uplBut{
	position: relative;
	left: -30px;
}
#choosePhoto{
	position: absolute;
	top: 260px;
	left: 30px;
}
#chooseFile{
	position: absolute;
	top: 300px;
	left: 30px;
}

#FirstNames{
	font-size: 40px;
	color: black;
}
#LastName{
	font-size: 60px;
	line-height: 70%;
	color: black;

}
#fam{
	text-align: center;
	position: absolute;
	left:350px;
	top: 100px;
}
.moveGIUp{
	position: relative;
	top: -40px;
}
.shrinkName{
	position: absolute;	
	left: 100px;
	top: 50px;


}
.shrinkRotate{
	width: 150px;
	height: 130px;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	 transform: rotate(90deg);
}
.shrinkNormal{
	height: 150px;
	width: 190px;
}
body{
	padding-bottom: 50px;
	padding-left: 10px;
	background-color: white;
	width:200ex;
	zoom: 180%;
}
.birthday{
	display: none;
}
h2{
	color: black;
}
#GI{
	font-size: 20px;
	color: black;

}
table{
	border-collapse: collapse;

}
table, td, th{
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	color: black;
	background-color: white;
	font-size: 12px;
}
.bringToSide{
	position: relative;
	top: -500px;
	left: 600px;
}
.newTable{
	width: 20%;
}

