#top{
    background-color: #004c8c;
    padding: 12px;
    color: rgb(220,220,220);
    border-radius: 10px;
    font-size: 20px;
    font-family: "Comic Sans MS", sans-serif;
}

a{
	color: rgb(220,220,220);
	text-decoration: none;
}
#WardB{
	position: absolute;
	top: 150px;
	left: 500px;
	font-size: 40px;
	font-family: "Comic Sans MS", sans-serif;
	color: rgb(220,220,220);

}
#boundPhoto{
	position: absolute;
	left: -5px;
	top: 110px;
	height: 400px;
	border: 1px solid #004c8c;
	border-radius: 25px;
}
::-webkit-input-placeholder{
	font-size: 10px;
	color: black;

}
input[type="text"]{
	width: 400px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgb(220,220,220);
	background-color: rgb(220,220,220);
	font-family: "Comic Sans MS", sans-serif;
	text-indent: 10px;

}
label {
border: 1px solid rgb(220,220,220);
background-color: rgb(220,220,220);
border-radius: 10px;
border-left-width: 10px;
border-right-width: 100px;
border-top-width: 5px;
border-bottom-width: 8px;
font-size: 14px;
font-family: "Comic Sans MS", sans-serif;
}
input[type="date"]{
	width: 200px;
	height: 31px;
	position: relative;
	left: -100px;
	border-radius: 10px;
	border: 1px solid rgb(220,220,220);
	background-color: rgb(220,220,220);
}
#Address{
	text-indent: 10px;
}

input[type="radio"]{
	width:40px;
	height: 30px;

}

h2{
	font-size: 30px;
	font-family: "Comic Sans MS", sans-serif;
	color: rgb(220,220,220);
	border-bottom: 1px solid rgb(220,220,220);
	
}
h4{
	font-size: 20px;
	font-family: "Comic Sans MS", sans-serif;
	color: rgb(220,220,220);
}
h5{
	font-size: 15px;
	font-family: "Comic Sans MS", sans-serif;
	color: rgb(220,220,220);
	text-decoration: underline;
}
tr {
	font-size: 20px;
	color: rgb(220,220,220);
	font-family: "Comic Sans MS", sans-serif;
}

body{
	background-color: #0277bd;
}
.LoginLink {
	position: absolute;
	top: 10px;
	right: 20px;
	font-family: "Comic Sans MS", sans-serif;
				
}
#facebook {
	width: 50;
	height: 50;
}

textarea {  
   font-family:"Comic Sans MS", sans-serif;  
   font-size: 14px;   
}
#HusbandMusic {
	position: relative;
	top: 60px;
	font-size: 20px;

}
#WifeMusic {
	position: relative;
	top: 60px;
	font-size: 20px;
}
#HMusicTable {
	position: relative;
	top: -70px;
	width: 20px;
}
#WMusicTable {
	position: relative;
	top: -120px;
}
textarea{
	background-color: rgb(220,220,220);
	border: none;
	border-radius: 10px;
}
#restofPage{
	position: relative;
	top: -100px;
}
input[type=submit] {
    width: 100px;
    height: 50px;
    background-color: #004c8c;
    color: black;
    border: 1px solid #004c8c;
   border-radius: 3px;
    cursor: pointer;

    
}

input[type=submit]:hover {
	background-color: rgb(100,100,100);
}
		