body{
	background-color: #0277bd;

		}
a{
	text-decoration: none;
	color: rgb(220,220,220);
	font-size: 20px;
}
#facebook {
	width: 100;
	height: 100;
		}
#Welcome{	
    background-color: #004c8c;
    padding: 12px;
    color: rgb(220,220,220);
    border-radius: 10px;
    font-size: 20px;
}
#ReturnBut {
    width: 10%;
    background-color: #004c8c;
    color: rgb(220,220,220);
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #004c8c;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 170px;
    right: 550px;
   	text-align: center;
}
	#ReturnBut:hover {
	background-color: rgb(100,100,100);
}