body{
	background-color: #0277bd;

		}
a{
	text-decoration: none;
	color: rgb(220,220,220);
	font-size: 20px;
}
#facebook {
	width: 100;
	height: 100;
		}
#Welcome{	
    background-color: #004c8c;
    padding: 12px;
    color: rgb(220,220,220);
    border-radius: 10px;
    font-size: 20px;
}
#ReturnBut {
    width: 100px;
    height: 100px;
    background-color: #004c8c;
    color: rgb(220,220,220);
    border: 1px solid #004c8c;
    cursor: pointer;
}
	#ReturnBut:hover {
	background-color: rgb(100,100,100);
}