
    body {
        background: rgb(150,200,255);
        }
    #myinput {
    background-image: url("https://c1.staticflickr.com/4/3340/4638861569_a1222f955b_b.jpg"); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    }

    #memberlist {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    #memberlist li a {
    border: 5px solid rgb(150,200,255); /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: rgb(250,250,250); /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 27px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    }

    #memberlist li a:hover:not(.header) {
    background-color: #eee;
    }