<!DOCTYPE html>
<head>
  <title>New Member Info</title>

<link href="CSS/index-style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="script.js"></script>
</head>

<body onload="passWord()">

  <div id="top">
  <h1>List of Members</h1>
</div><br>

<a id="deleteButton" href="/delete"></a>
    <input type="text" onkeyup="search()" id="myinput" placeholder="Search..." title="Type in a name">
    <div class="dropdown">
      <button class="dropbtn">Sort Members</button>
      <div class="dropdown-content">
        <a href="/index">All Members</a>
        <a href="/singingMembers">Can Sing</a>
        <a href="/pianoMembers">Play Piano</a>
        <a href="/organMembers">Play Organ</a>
        <a href="/conductingMembers">Can Conduct</a>
      </div>
    </div>
    <h2><ul id="memberlist">
      <% if(members.length>0){%>
      <u><%=members[0].MoveinDate.toUTCString().replace("00:00:00 GMT"," ")%></u><br>
          <% for (var i=0; i<members.length; i++) {%>
            <li>
             <a href="/member/<%=members[i]._id%>" id="members"><%=members[i].LastName%></a>
             <%if(!(i+1 >= members.length)){%>
               <%if(members[i].MoveinDate.toUTCString().replace("00:00:00 GMT"," ") !== members[i+1].MoveinDate.toUTCString().replace("00:00:00 GMT"," ")) {%>
                  
                  <br><u><%=members[i+1].MoveinDate.toUTCString().replace("00:00:00 GMT"," ")%></u><br>
               <%}%>
              <%}%>
            </li>
          <% } %>
      </ul></h2>
      <%}%>
 </body>
</html>
